PORT = 4000
DATABASE_URL = yourDatabaseUrl

FRONTEND_URL = http://localhost:5173  or yourFrontendUrl
BACKEND_URL = http://localhost:4000/api or yourBackendUrl/api

ADMIN_URL = http://localhost:5174  or yourAdminUrl

JWT_SECRET = yourJWTSecret

ADMIN_JWT_SECRET = yourAdminJWTSecret

DUMMY_HASH = $2a$10$SJJ.YGj2U07QoPOSjI6L/uZObuZPdRys54VpgMk9da2ml7DlM2evu or dummyhash (this hash is for 123456 which cannot be used while setting a password(

EMAIL= yourmail@gmail.com
EMAIL_PASSWORD= yourmailPassword  (not needed when using brevo)
BREVO_API_KEY = yourBrevoAPIKEY


CLOUDINARY_NAME = yourCloudinary_Name
CLOUDINARY_API_KEY = YourCloudinaryAPIKEY
CLOUDINARY_SECRET_KEY = YourCloudinarySecretKEY




KHALTI_SECRET_KEY= yourKhaltiSecretKey
KHALTI_PUBLIC_KEY= yourkhaltiPublicKey
KHALTI_BASE_URL="https://dev.khalti.com/api/v2"